body {
  font-family: Arial;
  padding: 30px;
  background: #f2f2f2;
}

input, button {
  padding: 10px;
  margin: 5px;
}

.ok {
  background: #e7ffe7;
  padding: 15px;
  margin-top: 20px;
}

.avoid {
  background: #ffe7e7;
  padding: 15px;
  margin-top: 20px;
}

.oktext {
  color: green;
  font-weight: bold;
}

.disclaimer {
  margin-top: 30px;
  font-size: 12px;
  color: #666;
}
